SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [UNIQUEIDENTIFIER] NOT NULL,
	[FirstName] [NVARCHAR](100) NULL,
	[LastName] [NVARCHAR](100) NULL,
	[Status] [BIT] NULL,
	[RowVersion] [ROWVERSION] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetId] [UNIQUEIDENTIFIER] NOT NULL,
	[Name] [NVARCHAR](100) NULL,
	[UserId] [UNIQUEIDENTIFIER] NOT NULL,
	[RowVersion] [ROWVERSION] NOT NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
CONSTRAINT [FK_Pet_User_UserId] FOREIGN KEY ([UserId]) REFERENCES [User] ([UserId]) ON DELETE NO ACTION,
) ON [PRIMARY]
CREATE INDEX I_Pet_UserId ON [dbo].Pet ([UserId]);
GO
