USE [InterReview]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TimeStampValue] [timestamp] NOT NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[TimeStampValue] [timestamp] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pet] ([PetId], [Name], [UserId]) VALUES (N'95c61165-ec78-424b-8c26-00fc44f53583', N'Hugo', N'9fcd56c9-5c6f-4c9c-98e3-a049a4a21ca2')
INSERT [dbo].[Pet] ([PetId], [Name], [UserId]) VALUES (N'715f0df4-e7a1-44ea-a37e-0d5ff5e03b5a', N'Hektor', N'07b6e09c-ae2d-423f-90bb-7066af9df1c8')
INSERT [dbo].[Pet] ([PetId], [Name], [UserId]) VALUES (N'594dc71c-af82-4371-824e-0ddd2fdef83e', N'Roki', N'd4ee366c-b9ca-4cac-9c32-06a46179ecf8')
GO
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [Status]) VALUES (N'd4ee366c-b9ca-4cac-9c32-06a46179ecf8', N'Mateusz', N'Wróblewski', 1)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [Status]) VALUES (N'92ff2fb6-3e57-473d-a096-1b041968457f', N'Daniel', N'Ziółkowski', 0)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [Status]) VALUES (N'1bbfc782-932b-4d57-87a8-3a54bed25974', N'Przemysław', N'Dąbrowski', 1)
GO
ALTER TABLE [dbo].[Pet] ADD  CONSTRAINT [DF_Pet_PetId]  DEFAULT (newid()) FOR [PetId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserId]  DEFAULT (newid()) FOR [UserId]
GO
